/* 将页面内容（登录表单）在视口中居中显示，并设置背景图片。 */
html,
body {
    height: 100%;
    /* 让 html 和 body 元素撑满整个视口高度 */
    /* 设置背景图片：居中、不重复、覆盖整个区域 */
    background: url('./assets/login-bg.png') no-repeat center/cover;
    /* 启用 Flex 布局 ，也叫弹性布局， 该容器就是Flex容器，子元素也是Flex项目，
    Flex布局允许子元素在父容器中以动态和响应式的方式排列，无论容器大小如何变化。*/
    display: flex;
    /* 垂直居中子元素：弹性容器的主要属性之一，定义了弹性项目在交叉轴上的对齐方式，如居中、顶部对齐、底部对齐等*/
    align-items: center;
    /* 垂直居中子元素：定义了弹性项目在主轴上的对齐方式，如居中、起始对齐、结束对齐等 */
    justify-content: center;
}

/* 提示框，操作结果的盒子 */
.alert {
    width: 400px;
    /* 提示框宽度 */
    position: fixed;
    /* 固定定位， 不随滚动条滚动 ，然后需要top、left、buttom、left来指定元素的位置*/
    top: 50px;
    /* 距离顶部 50px */
    left: 50%;
    /* 水平居中 */
    transform: translateX(-50%);
    /* 通过偏移实现精确水平居中 */
    /* left:50%是基于父容器的宽度，而translateX(-50%)会向左移动自身宽度的一半，从而实现水平居中 */
    display: none;
    /* 默认隐藏 之后通过.show类来显示*/
}

.show {
    display: block !important;
    /* 强制显示（通过添加 .show 类） */
}

/* 登录表单容器：：创建一个白色背景的登录容器，包含一个橙色的居中标题。 */
.login-wrap {
    width: 400px;
    /* 登录框宽度 */
    padding: 20px;
    /* 内边距 */
    background-color: #fff;
    /* 白色背景 */
}

.login-wrap .title {
    font-size: 28px;
    /* 标题字体大小 */
    text-align: center;
    /* 居中标题 */
    color: #fc6627;
    /* 橙色标题 */
}

/* 表单元素样式： */
.login-form {
    margin-top: 20px;
    /* 表单与标题的间距 */
}

input::-webkit-input-placeholder {
    color: #dcdfe6 !important;
    /* 设置输入框占位符颜色为浅灰色 ，input::-webkit-input-placeholder：
    针对 WebKit 浏览器（Chrome/Safari）设置占位符颜色，其他浏览器可能需要额外兼容。*/
}

/* 没有逗号，表示对A下面的B进行样式修改，有逗号是一起修改*/
.login-form .btn {
    width: 100%;
    /* 按钮宽度充满容器 */
    background-color: #66b1ff;
    /* 蓝色背景 */
    border: 1px solid #66b1ff;
    /* 蓝色边框 */
}